###################################################################################
## Company:        Xilinx & HES//SO hepia
## Engineer:       Xavier Paillard
##
## Create Date:    08:49:58 01/29/2013
## Design Name:    DVI
## Module Name:    DVI - constraint
## Project Name:   DVI
## Target Devices: Xilinx SP605 - XC6SLX45T-3fpgg484
## Tool versions:  Xilinx ISE 14.3 - Windows 7 64bits
## Description:    Constraint file
## Dependencies:   no
## Revision:       Revision 0.01 - File created by Xilinx
##                 Revision 0.02 - File modified by Xavier Paillard
###################################################################################

# CLOCK AT 200 MHZ
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  5  ns HIGH 50 %;

# RESET
NET RESET_I LOC = H8;

# USER CLOCK @200 MHz
NET SYSCLK_N LOC = K22 | IOSTANDARD = LVDS_25;
NET SYSCLK_P LOC = K21 | IOSTANDARD = LVDS_25;

# DVI
NET "SCL_DVI"     LOC = "W13" |SLEW = SLOW  | IOSTANDARD = LVCMOS25;
NET "SDA_DVI"     LOC = "AA4"               | IOSTANDARD = LVCMOS25;
NET "DVI_D<0>"    LOC = "K16" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<1>"    LOC = "U19" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<2>"    LOC = "T20" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<3>"    LOC = "N16" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<4>"    LOC = "P16" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<5>"    LOC = "M17" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<6>"    LOC = "M18" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<7>"    LOC = "R15" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<8>"    LOC = "R16" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<9>"    LOC = "P17" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<10>"   LOC = "P18" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_D<11>"   LOC = "R17" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_DE"      LOC = "J17" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_H"       LOC = "J16" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_RESET_B" LOC = "L15" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_V"       LOC = "B22" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_XCLK_N"  LOC = "C22" | SLEW = FAST | IOSTANDARD = LVCMOS25 | DRIVE = 12;
NET "DVI_XCLK_P"  LOC = "C20" | SLEW = FAST | IOSTANDARD = LVCMOS25 | DRIVE = 12;

# LEDs
NET "RESET_IP_o"  LOC = "D17";   ## 2   on DS3 LED
NET "BLINK_o"     LOC = "AB4";   ## 2   on DS4 LED

# DDR MEMORY
NET "MEM1_A<0>"                       LOC = "K2";    ## N3  on U42
NET "MEM1_A<1>"                       LOC = "K1";    ## P7  on U42
NET "MEM1_A<2>"                       LOC = "K5";    ## P3  on U42
NET "MEM1_A<3>"                       LOC = "M6";    ## N2  on U42
NET "MEM1_A<4>"                       LOC = "H3";    ## P8  on U42
NET "MEM1_A<5>"                       LOC = "M3";    ## P2  on U42
NET "MEM1_A<6>"                       LOC = "L4";    ## R8  on U42
NET "MEM1_A<7>"                       LOC = "K6";    ## R2  on U42
NET "MEM1_A<8>"                       LOC = "G3";    ## T8  on U42
NET "MEM1_A<9>"                       LOC = "G1";    ## R3  on U42
NET "MEM1_A<10>"                      LOC = "J4";    ## L7  on U42
NET "MEM1_A<11>"                      LOC = "E1";    ## R7  on U42
NET "MEM1_A<12>"                      LOC = "F1";    ## N7  on U42
NET "MEM1_A<13>"                      LOC = "J6";    ## T3  on U42
NET "MEM1_A<14>"                      LOC = "H5";    ## T7  on U42
NET "MEM1_BA<0>"                      LOC = "J3";    ## M2  on U42
NET "MEM1_BA<1>"                      LOC = "J1";    ## N8  on U42
NET "MEM1_BA<2>"                      LOC = "H1";    ## M3  on U42
NET "MEM1_CAS_B"                    LOC = "M4";    ## K3  on U42
NET "MEM1_CKE"                      LOC = "F2";    ## K9  on U42
NET "MEM1_CLK_N"                    LOC = "K3";    ## K7  on U42
NET "MEM1_CLK_P"                    LOC = "K4";    ## J7  on U42
NET "MEM1_DQ<0>"                      LOC = "R3";    ## G2  on U42
NET "MEM1_DQ<1>"                      LOC = "R1";    ## H3  on U42
NET "MEM1_DQ<2>"                      LOC = "P2";    ## E3  on U42
NET "MEM1_DQ<3>"                      LOC = "P1";    ## F2  on U42
NET "MEM1_DQ<4>"                      LOC = "L3";    ## H7  on U42
NET "MEM1_DQ<5>"                      LOC = "L1";    ## H8  on U42
NET "MEM1_DQ<6>"                      LOC = "M2";    ## F7  on U42
NET "MEM1_DQ<7>"                      LOC = "M1";    ## F8  on U42
NET "MEM1_DQ<8>"                      LOC = "T2";    ## C2  on U42
NET "MEM1_DQ<9>"                      LOC = "T1";    ## C3  on U42
NET "MEM1_DQ<10>"                     LOC = "U3";    ## A2  on U42
NET "MEM1_DQ<11>"                     LOC = "U1";    ## D7  on U42
NET "MEM1_DQ<12>"                     LOC = "W3";    ## A3  on U42
NET "MEM1_DQ<13>"                     LOC = "W1";    ## C8  on U42
NET "MEM1_DQ<14>"                     LOC = "Y2";    ## B8  on U42
NET "MEM1_DQ<15>"                     LOC = "Y1";    ## A7  on U42
NET "MEM1_LDM"                      LOC = "N4";    ## E7  on U42
NET "MEM1_LDQS_N"                   LOC = "N1";    ## G3  on U42
NET "MEM1_LDQS_P"                   LOC = "N3";    ## F3  on U42
NET "MEM1_ODT"                      LOC = "L6";    ## K1  on U42
NET "MEM1_RAS_B"                    LOC = "M5";    ## J3  on U42
NET "MEM1_RESET_B"                  LOC = "E3";    ## T2  on U42
NET "MEM1_UDM"                      LOC = "P3";    ## D3  on U42
NET "MEM1_UDQS_N"                   LOC = "V1";    ## B7  on U42
NET "MEM1_UDQS_P"                   LOC = "V2";    ## C7  on U42
NET "MEM1_WE_B"                     LOC = "H2";    ## L3  on U42
