# ISE Project
ise_project/iseconfig/
ise_project/*.gise
ise_project/*_summary.html
ise_project/xst/
ise_project/_ngo/
ise_project/_xmsgs/

# Generated Cores
src_coregen/*
!src_coregen/*.xco

# Ignore OS noise
Thumbs.db
.DS_Store
.directory
