# ISE Project
ise_project/iseconfig/
ise_project/xst/
ise_project/_ngo/
ise_project/_xmsgs/

# intermediate build files
ise_project/*
!ise_project/*.xise

# Generated Cores
src_coregen/*
!src_coregen/*.xco

# Ignore OS noise
Thumbs.db
.DS_Store
.directory

# Generated doc
*/build/*

# IDE project file
*/.idea
*.sublime*
*.swp
